.app {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto 1fr 64px;
  grid-template-areas: "navigation" "main" "footer";
  min-height: 100vh !important;
  height: 100vh;
}

.app header {
  grid-area: navigation;
  display: flex;
  background-color: white;
  height: 64px;
}

.main {
  grid-area: main;
  display: flex;
  background-color: #f5f5fa;
  min-height: 600px;
}

.footer {
  grid-area: footer;
}
